.main
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 100vh

button
    margin-right: 30px
    &:last-of-type
        margin-right: 0
    &.pressed
        background: blue
        color: white

