.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

button {
  margin-right: 30px;
}

button:last-of-type {
  margin-right: 0;
}

button.pressed {
  background: blue;
  color: white;
}
/*# sourceMappingURL=style.css.map */